{% extends 'blog/base.html' %}
{% block content %}
        <article class="media content-section d-flex flex-row justify-content-start">
          <img class="rounded-circle article-img" src={{ object.author.profile.image.url }}>
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ object.author }}</a>
              <small class="text-muted">{{ object.date_posted|date:"F d, Y"}}</small>
              {% if object.author == user %}
                    <a class="btn btn-danger btn-sm mb-1 ml-3" href="{% url 'blog-delete' object.id %}">Delete</a>
                    <a class="btn btn-secondary btn-sm mb-1 ml-3" href="{% url 'blog-update' object.id %}">Update</a>
                {% endif %}
            </div>
            <h2>{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
          </div>
        </article>

{% endblock content %}